.bg
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}
.btn, .items{
    cursor: pointer;
    position: relative;
    font-family: 'Roboto';
    color: rgb(51,51,51);
}
.btn{
    background-color: white;
    z-index: 11;
    border: 1px solid silver;
    border-radius: 4px;
    min-height: 32px;
    font-size: 16px;
    min-width: 200px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.btn-item-close{
    padding: 0 5px;
    border-radius: 4px;
    background-color: slategray;
    color: white;
    margin-left: 2px;
    margin-right: 4px;
}
.btn-separator{
    align-self: stretch;
    background-color: rgb(204, 204, 204);
    margin-bottom: 8px;
    margin-top: 8px;
    width: 1px;
    box-sizing: border-box;
    width: 1px;
}
.btn-right{
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: space-between;
}
.btn-selected{
    border: 2px solid DeepSkyBlue;
}
.btn-hover:hover{
    border-color: gray;
}
.btn-text{
    padding: 2px 8px;
}
.btn-arrow{
    fill: rgb(204, 204, 204);
    padding: 8px;
    height: 14px;
    /* width: 16px; */
    transform: rotate(90deg);
}
.items{
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: 'Roboto';
    position: relative;
    max-width: 300px;
    z-index: 11;
    border: 1px solid silver;
    border-radius: 4px;
    margin-top: 2px;
}
.item{
    padding: 8px;
    color: rgb(51,51,51);
}
.item:hover{
    background-color: Gainsboro;
}